# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
build/
out/
target/
*.egg-info/
node_modules/
.ipynb_checkpoints/

# Test and coverage reports
htmlcov/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*cache/
coverage.xml
.coverage
.reports/

# Home Assistant
.storage/
testing_config/
*.db
*.db-shm
*.db-wal
**/token.txt

# HA Dev Specific
errors/
local_only/
router_probe/
**/restart_ha.ps1
**/sensors_states/*.json
**/sensors_states/*.txt
**/sensors_states/older/*.json
**/sensors_states/older/*.txt

# OS
.DS_Store
Thumbs.db
desktop.ini
.AppleDouble
.LSOverride

# IDEs
# .vscode/
*.code-workspace
.idea/
.sublime-*
.sublime-workspace
*.sublime-project
.vim/
*.swp
*.swo

# Sync
sync.ffs_*
sync.ffs_db
sync.ffs_lock

# Test Dev
.devconfig/
uv.lock

# Temp Trash
.Trash/
.trash/
.temp/
.tmp/
*.log


# Note Scratch Compare Area
.comp/
.notes
.shared
.obsidian/
.notes/
.shared/
loc_only/

# AI
.aider/
.claude/
.continue/
.cursor/
.windsurf/
*.gptcache
.geminignore
.aiexclude
.aider*
.opencommit
**/.ai-memory/
CLAUDE.md
CLAUDE.local.md
agents.local.md
